.p-sidebar {
	display: flex;
	flex-direction: column;
	background-color: #303456;
	height: 100vh;
	align-items: center;
	width: 100px;
}
.side-bar-elements {
	text-align: center;
	padding: 5px;
	width: 70px;
	height: 55px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.side-bar-elements.active {
	background-color: #ea5179;
	border-radius: 10px;
}
.p-sidebar a {
	text-decoration: none;
	color: white;
}
.side-bar-elements h6 {
	margin: 0;
}

.dashboard-area {
	display: flex;
	align-content: flex-start;
}
.navbar{
	align-self: flex-start;

}
.dashboard-navbar {
	display: flex;
	justify-content: flex-end;
	width: 89.2vw;
	background-color: burlywood;
	height: 60px;
}
.main{
	display: flex;
	flex-direction: column;
	height: 80vh;
}
.main-area {
	flex-grow: 1;
	margin-top: 100px;
	margin-left: 0;
}
.user-avatar {
	position: relative;
	width: 10%;
	margin-top: 10px;
	height: 70%;
}
.first-row {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.d-card {
	width: 30%;
	height: 100px;
	border-radius: 20px;
}
.d-card-maroon {
	background: linear-gradient(
		16deg,
		rgba(234, 81, 121, 1) 0%,
		rgba(172, 54, 115, 1) 100%
	);
}
.d-card-indigo {
	background: linear-gradient(
		16deg,
		rgba(195, 84, 215, 1) 0%,
		rgba(136, 74, 206, 1) 100%
	);
}
.d-card-orange {
	background: linear-gradient(
		16deg,
		rgba(245, 90, 158, 1) 0%,
		rgba(255, 155, 106, 1) 100%
	);
}

.nav-menu{
    background-color: rgb(10, 2, 60);
    height: 100vh;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    top: 0;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
	height: 60px;
	background-color: #303456;
	width: 20px;
}
